body{
    
    font-family: 'Times New Roman', Times, serif;
}



header{
    background-color: deepskyblue;
    background-image:url('img/pattern.png');
    background-size: auto;
    background-repeat: repeat;
    height:150px;
    

}

#logo{
 object-fit: contain;
}

#titolo{
    font-size: 330%;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin: 0 auto;
}

.foto{

    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.descrizione{
    margin:0%;
}
.titolo-tabella{
    background-color: cyan;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.tabella{
    border-style: hidden;
    background-color: rgb(94, 226, 243);
    width: 80%;
    margin: 0 auto;
}