body{
    
    font-family: 'Times New Roman', Times, serif;
}



header{
    background-color: deepskyblue;
    background-image:url('img/pattern.png');
    background-size: auto;
    background-repeat: repeat;
    height:150px;
    

}

#logo{
 object-fit: contain;
}

.autore{
    color: aqua;
    display: inline;
}

.inline{
    display:inline;
}
#titolo{
    font-size: 330%;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin: 0 auto;
}

.foto{
    width: 100%;
    text-align: center;
    object-fit: contain;
}

.descrizione{
    margin:0%;
}
.titolo-tabella{
    background-color: cyan;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: white;
}
.tabella{
    border-style: hidden;
    background-color: rgb(94, 226, 243);
    width: 80%;
    margin: 0 auto;
}

.sottileneatura{
    background-color: yellow;
}

.ordine-foto{
    display: block;
    
}